@import "tailwindcss";

body{
    background-color: #fafbfe;
    font-family: "Geomini", sans-serif;
}

@font-face {
    font-family: "Geomini";
    src: url("./assets/fonts/Geomini-VariableFont_wght.ttf") format("truetype");
    font-weight: 400, 500, 600, 700, 800, 900;
}