@import "tailwindcss";

*{
  box-sizing: border-box;
}

body{
   font-family: "MozillaText", sans-serif;
}

.Recoleta {
  font-family: "Recoleta", serif;
}

@font-face {
  font-family: Recoleta;
  src: url(./assets/Font/recoleta-regulardemo.otf);
}

@font-face {
  font-family: Geomini;
  src: url(./assets/Font/Geomini-VariableFont_wght.ttf);
}

@font-face {
  font-family: MozillaText;
  src: url(./assets/Font/MozillaText-VariableFont_wght.ttf);
}

:root {
  --primary-color: #342617;
  --secondary-color: #ebe3da;
  --light-color: #825e3a;
  --text-color: #7e7e7e;
}